__site/
.DS_Store
node_modules/
package-lock.json
menu3 copy.md
menu2 copy.md
menu1 copy.md
index copy.md
.vscode/settings.json
materials/day3/factors.csv
materials/day3/scenario1/a.csv
materials/day3/scenario1/b.csv
materials/day3/scenario1/cf.csv
materials/day3/scenario1/fct.csv
materials/day3/scenario1/er.csv
materials/day3/scenario1/flag.csv
materials/day3/scenario1/fuel.csv
materials/day3/scenario1/ischp.csv
materials/day3/scenario1/isca.csv
materials/day3/scenario1/istax.csv
materials/day3/scenario1/lines.csv
materials/day3/scenario1/mc.csv
materials/day3/scenario1/mw.csv
materials/day3/scenario1/qmr.csv
materials/day3/scenario1/qrw.csv
materials/day3/scenario1/w.csv
materials/day3/scenarios.csv
materials/day3/tlines.csv
materials/day3/data_leakage/a.csv
materials/day3/data_leakage/b.csv
materials/day3/data_leakage/cf.csv
materials/day3/data_leakage/er.csv
materials/day3/data_leakage/factors.csv
materials/day3/data_leakage/fct.csv
materials/day3/data_leakage/flag.csv
materials/day3/data_leakage/fuel.csv
materials/day3/data_leakage/isca.csv
materials/day3/data_leakage/ischp.csv
materials/day3/data_leakage/istax.csv
materials/day3/data_leakage/lines.csv
materials/day3/data_leakage/mc.csv
materials/day3/data_leakage/mw.csv
materials/day3/data_leakage/qmr.csv
materials/day3/data_leakage/qrw.csv
materials/day3/data_leakage/tlines.csv
materials/day3/data_leakage/w.csv
